/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
	width: 8px;
	background-color: #D8D8D8;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0px 0px 0px #E8E8E8;
	background-color: #FFFFFF;
}
::-webkit-scrollbar-thumb {
	background-color: darkgray;
    border-radius: 4px;
    padding-right: 1px;
}